src: url("https://mdn.github.io/shared-assets/fonts/variable-fonts/MutatorSans.ttf");

  
   .first_nav{
   /* background: linear-gradient(to top,red,orange);
     background: linear-gradient(to top,#c97bee,#dcb4ee,); */

   /* background-color:  #dcb4ee; */
   /* color: rgb(87, 86, 86); */
   
   }
   .first_nav{
    background: linear-gradient(to  right,#0065b5

    ,#ffffff);
   }
   .top-shape{
    background: linear-gradient(to right,#6c6c73
,#9a9abb4a

); 
   }
.content-cert{   
   font-family: 'Jost', sans-serif !important;
   font-weight: 900 !important;
}

.small_text{
  color: rgb(255, 255, 255) !important;
  font-weight: 900;
}
.footer_terms{
  background-image: linear-gradient(to right top, #5c5c5c, #727272, #726e6e, #7f7575, #5c5c5c);

}


.whatsapp-link {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 110px;
  right: 30px;
  background-color: #25d366;
  color: #fff;
  padding: 3px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  z-index: 999;
}

.side_arrow{
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  align-items: center;
/* justify-content: center;
  width: 46px;
  height: 46px; */
  /* bottom: 10px; */
   width: 30px;
  height: 30px; 
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}
.side_arrow{
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    align-items: center;
justify-content: center;

 
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}
.side_arrow i{
  justify-content: center;
}
.cosmetic{
  font-size: 40px;
  font-weight: 1000 !important;
  /* color: #c883e7; */
  font-family: "Jost", sans-serif;
  color: #A201EA  ;
}
.cosmetic1{
  font-size: 30px;
  /* font-weight: 1000 !important; */
  /* color: #c883e7; */
  font-family: "Jost", sans-serif;
  /* color */
}
.cosmetic_img{
  display: flex;
flex-direction: column;
justify-content: center;

}

.cosmetic-span{
  font-family: "Jost", sans-serif;
}

.dental-bridges{
border-radius: 100%;
}

.slider {
  position: absolute;
  width: calc(100% + 46px);
  height: 46px;
  top: calc(50% - 23px);
  left: -23px;
  display: flex;
  justify-content: space-evenly;
gap:400px;
  justify-content: space-between;
  z-index: 1;
}





/* blogs_main_page   */


.blog_main_btn {
  /* Initial styles for the button */
  border-width: 0px;
  color: black;
  border-radius: 22px;
  padding: 9px 22px;
  font-weight: 800;
  background-color: transparent;
  /* initial background color */

  /* Add transition to smooth the hover effects */
  transition: background-color 0.4s ease, color 0.4s ease, border-radius 0.4s ease;
  margin-bottom: 14px;
}

.blog_main_btn:hover {
  border-width: 0px;
  color: white;
  border-radius: 22px;
  padding: 9px 22px;
  font-weight: 800;
  margin-bottom: 14px;

  background-color: rgb(0, 0, 31);
  /* Dark background on hover */
}

.box-title {
  color: #28386a !important;
}

.box-title:hover {
  color: light grey !important;
}

.blog-card-text {
  color: #ffffff !important;
  font-weight: 700;
}

.blog-card-text:hover {
  color: #070707 !important;

  font-weight: 700;

}

.post-desc {
  color: #848e9f;
}

.card_bg_div_box {
  /* Initial styles for the card */
  box-shadow: none;
  /* No shadow by default */
  transition: box-shadow 0.3s ease;
  /* Smooth transition for the box-shadow */
  padding: 20px;
}

.card_bg_div_box:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  /* Shadow when hovering */
  padding: 20px;
}

.blog_box_image {
  border-radius: 12px;
}

.background_sidebar {
  background-color: #94beeb;
}

.redirect_section {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;

}

.redirect_blog_srivice {
  background-color: rgb(105, 199, 236);
  color: White;
  font-weight: 900;
  border: none;
  margin: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 3px 15px;

}

@media (min-width:992px) and (max-width:1200px) {

  .video_tag_messures {
    width: 475px !important;
    height: 228px !important;
  }
}


@media (min-width:1200px) and (max-width:1400px) {

  .video_tag_messures {
    width: 560px !important;
    height: 273px !important;
  }
}


@media (min-width:1400px) {

  .video_tag_messures {
    width: 646px !important;
    height: 317px !important;
  }
}




/* vodeo tags code */
.only_first {
  padding: 0px !important;
}

.first_section {
  margin-top: 50px;
}


@media (max-width:768px) {
  .sectionForm {
    margin-bottom: 220px !important;
  }
}

@media (min-width:768px) and (max-width:998px) {
  .sectionForm {
    margin-bottom: 250px !important;
  }
}

@media (min-width:998px) and (max-width:1200px) {
  .sectionForm {
    margin-bottom: 170px !important;
  }
}

@media (min-width:1200px) and (max-width:1400px) {
  .sectionForm {
    margin-bottom: 120px !important;
  }

}

  .section_color {
    background-color: rgb(241, 241, 241);
    text-align: center;
  }
  .root_step {
    margin-bottom: 30px;
    color: #1d2053 !important;
    font-weight: 700;
  

  }
  
  .root_treatment {
    color: #1d2053 !important;
    font-size: 39px;
    font-weight: 700;
  
  
  }
  
  /* .section_color {
    background-color: rgb(241, 241, 241);
    text-align: center;
  } */
  
  /* .card{
    padding: 10px;
  } */
  
    .canal_step {
    padding: 10px;
    padding-top: 10px;
    color: #252b42;
    font-weight: 700;
  }


  @media (max-width:768px) {
    .card{
      padding: 10px;
      margin: 10px;
      gap: 10px;
    }
    
  }

.social a{
  margin-left: 15px;
  text-align: left;
}

.footer_image{
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}

.card-wrapper {
  display: flex;
  justify-content: center;
}

.card {
  flex-grow: 1; /* Ensures equal height */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card img {
  max-width: 100%; /* Ensures responsive images */
  height: auto;
}

@media (max-width: 768px) {
  .card {
      width: 100%; /* Ensures full width in mobile view */
  }
}

.service_btn{
  background: linear-gradient(to right, #0464b4, #5999cc, #7cb4dc);
  
  
}
.service_btn :hover{

  color: white;
}

.card-wrapper{
  padding-top: 10PX;
  padding-bottom: 10PX;
}


.service_content{
 text-align: center;
padding-top: 20px;
padding-bottom: 40px;
}
.service_view{
  background: linear-gradient(to right, #0967b5, #0967b5, #86b7dc);
}